@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&family=Work+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 87px 120px;
}

.nav-title{
    font-size: 24px;
}

.nav-options{
    display: flex;
    gap: 34px;
    list-style: none;
    font-weight: 600;
font-size: 16px;
}

.nav-options li a{
    text-decoration: none;
    color: #3A3A3A;
}

@media only screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
        padding: 60px;
    }
    .nav-options{
        flex-direction: column;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
    }
}